*{
    background-color: bisque;
    color:black;
}

.failed{
    border: 2px solid tomato;
    opacity:0.4;
}

.completed{
    border: 2px solid rgb(24, 210, 24);
    opacity: 1;
}

.apiimg{
    width:100px;
    height: 100px;
}
/* .parent{
    display:flex;
} */
button{
    border: 2px solid black;
    cursor: pointer;
    height:20px;
    margin-top: 16px;
}
.post{
    display:flex;
    height: 50px;
    margin-left: 20px;
    justify-content: space-around;
}