/* #h22{
    color: blueviolet;
} */
body{
    background-color:gray;
}
.mydiv{
    border: 2px solid blueviolet;
    margin: 4px;
    padding: 10px;
    text-align: center;
    /* float: left; */
}

div p{
    color: white;
}

li{
    list-style: none;
    background-color: aqua;
    border:1px solid black;
}
.newclass{
    border-radius: 10px;
    background-color:rgb(17, 192, 154);
    /* color: rgb(252, 45, 45); */
}
.newcls{
    /* border-radius: 15px; */
    /* background-color:rgb(50, 48, 139); */
    /* color: rgb(163, 1, 1); */
    font-size: larger;
}